<carousel>
    <slide>
        <img src="assets/images/sld3.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/sld4.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/sld5.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>E-Ticaret Sitemize Hoşgeldiniz</h1>
    </div>
</section>